.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $bp-sm) { max-width: 566px; }
  @media (min-width: $bp-md) { max-width: 740px; }
  @media (min-width: $bp-lg) { max-width: 960px; }
  @media (min-width: $bp-xl) { max-width: 1140px; }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class^="col-"], [class*=" col-"] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.col-9  { width: 75%; }
.col-12 { width: 100%; }

@media (min-width: $bp-md) {
  .col-md-5 { width: 41.6667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.3333%; }
  .col-md-8 { width: 66.6667%; }
  .order-md-1 { order: 1; }
  .order-md-2 { order: 2; }
}

@media (min-width: $bp-lg) {
  .col-lg-4 { width: 33.3333%; }
  .col-lg-6 { width: 50%; }
}

.order-1 { order: 1; }
.order-2 { order: 2; }

.justify-content-center { justify-content: center; }
.justify-content-start  { justify-content: flex-start; }
.align-content-between  { align-content: space-between; }
