<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
{{ $favicon := resources.Get "favicon.svg" | resources.ExecuteAsTemplate "favicon.svg" . }}
<link rel="icon" type="image/svg+xml" href="{{ $favicon.RelPermalink }}">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
<link rel="manifest" href="/images/favicon_io/site.webmanifest">
